
*{
    
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*------------------------------NAVBAR----------------------------*/

.navbar-name{
    font-size: 30px;
    color: black;
    font-family: 'Lobster', cursive;
}
.navbar-name:hover{
    color: black;
}
.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.nav-link:hover{
    color: black;
}
.navigation ul {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 10px;
}

.navbar ul li {
    position: relative;
    list-style: none;
    width: 150px;
    margin: 5px 0;
}

.navbar ul li a {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: block;
    padding: -15px 30px;
    background: transparent;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: under;
    border-radius: 15px;
    box-shadow: 3px 3px 5px black, -3px -3px 5px #ffffff25;
}

.navbar ul li a::before,
.navbar ul li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 50%;
    background: #29374b;
    z-index: -1;
    transition: 0.5s ease-in-out;
}

.navbar ul li a::after {
    top: inherit;
    bottom: 0;
    left: inherit;
    right: -100%;
}

.navbar ul li a:hover::before,
.navbar ul li a.active::before {
    left: 0;
}

.navbar ul li a:hover::after,
.navbar ul li a.active::after {
    right: 0;
}


/*------------------------------SEARCH----------------------------*/

.search{
    height: 40px;
    width: 80%;
    margin-right: -35px;
    font-family: 'Roboto', sans-serif;
    border-radius: 60px;
    outline: none;
    border: 2px solid rgb(36, 35, 35);
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(12, 12, 12);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}
.btn1{
    height: 45px;
    width: 35%;
    outline: none;
    border: color;
    background:transparent;
    opacity: 50;
    border-radius: 100;
    color: rgb(192, 36, 36);
    border-radius: 60px;
    font-weight: 700;
}
.btn2{
    height: 45px;
    width: 35%;
    outline: none;
    border: color;
    background:transparent;
    opacity: 50;
    border-radius: 100;
    color: rgb(192, 36, 36);
    border-radius: 60px;
    font-weight: 700;
}



/*------------------------------Main----------------------------*/

.main{
    background-image: url("images/bg.jpg");
   background-size: cover;
   font-family: 'Roboto', sans-serif;
   height: 100vh;
   background-position: 50% 50%;
   width: 100%;
}
.main h1{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    font-weight: 700;
}
.main h3{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    font-weight: 700;
}
.main h2{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    font-weight: 700;
}
h1{
    font-weight: 700;

}

/*------------------------------Shop----------------------------*/

.heading{
    padding-bottom: 2rem;
    text-align: center;
    font-size: 3.5rem;
    color: black;
}

.bg-shop{
    background-image: url("images/dogs.jpg");
   background-size: cover;
   font-family: 'Roboto', sans-serif;
   height: 100;
   background-position: 50% 50%;
   width: 100%;
}


/*--------------------------------------FANCY BORDER--------------------------------- */
.fancy-br-box{
	height: 250px;
	width: 50px;
	margin: auto;
	position: relative;
	z-index: 1;
}
.fancy-br-box::before{
	content: '';
	position:absolute;
	left: 0;
	top: -100;
	height: 100%;
	width: 100%;
	border: 2px  transparent;
	border-radius: 50% 40% / 40% 50%;
	transform: rotate(150deg);
	z-index: -1;
}
.fancy-br-box > img{
	border-radius: 30% 70% 50% 50% / 50%;
}

/*----------------------------- animation------------------------------------------- */
@keyframes moveX {
	0%, 100%{
		transform: translateX(0);
	}
	50%{
		transform: translateX(20px);
	}
}

/*------------------------------------------HOME---------------------------------*/

.home-img .icon-box{
	background-color: transparent;
	position: absolute;
	left: -60px;
	bottom: 80px;
	animation: moveX 4s linear infinite;
}

.home-img .icon-box img{
	width: 100px;
}


/*------------------------------------------SERVICES---------------------------------*/

.bg-services{
    background-image: url("images/bg2.jpg");
   background-size: cover;
   font-family: 'Roboto', sans-serif;
   height: 300;
   background-position: 50% 50%;
   width: 100%;
}

.plan .box-container{
    grid: 30rem;

    .box{
        position: relative;
        padding: 1rem;
        border-radius: .5rem;
        position: relative;
        margin-bottom: 2rem;
        background-color: rgb(218, 202, 202);

        .btn{
            position: absolute;
            bottom:1rem;
            right:200;
            background: white;
        }
    }
}

/*------------------------------------------CONTACT---------------------------------*/
.bg-contact{
    background-image: url("images/dog.jpg");
   background-size: cover;
   font-family: 'Roboto', sans-serif;
   height: 300;
   background-position: 50% 50%;
   width: 100%;
}



.card:hover {
    box-shadow: 4px -1px 27px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px -1px 27px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px -1px 27px -4px rgba(0,0,0,0.75);
    transition: 0.5s;
}

.profile-social a{
    transition: color 0.3s ease 0s;
    margin: 0 20px;
    font-size: 16px;
}

.profile-social a:hover{
    text-decoration: none;
    color: #2eca7f;
}



/*------------------------------------------FOOTER---------------------------------*/

.news{
    background-color: black;
    color: white;
}
.btn3{
    height: 45px;
    width: 100px;
    background:white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: 600;
}

.news input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background: black;
    color: white;
    margin-top: 20px;
    font-weight: 600;
}
.news::placeholder{
    color: white;

}
.news p{
    margin: 0;

}
.fab{
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 5px;
}